/***
 *	Style (Default Style)
 *	Author Copyleft  2011.03.23
 *  E-mail sagaleon@163.com
 **/


/* =CSS Reset
Reset Stylesheet XHTML
v1.5
-------------------------------------------------------------- */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0;
padding:0;
border:0;
vertical-align:baseline;
background:transparent;
text-align:left;
}
body {
line-height:1;
}
strong, b {
font-weight:bold;
}
cite, em, dfn, i {
font-style:italic;
}
ul,ol {
list-style:none;
}
li {
list-style-type:none;
}
del {
text-decoration:line-through;
}
table {
border-collapse:collapse;
border-spacing:0;
}
input, select {
vertical-align:middle;
}
textarea {
vertical-align:top;
}
img, input, button {
border:0 none;
outline:0;
}
:active, :focus {
outline:0;
}

/* =Global elements
-------------------------------------------------------------- */
body {
line-height:17px;
font-size:12px;
}
a {
color:#424242;
}
a:hover,a:active {
color:#AD0909;
}
a:link,a:visited,a:hover,a:active,a:focus {
text-decoration:none;
outline:none;
}
h1, h2, h3, h4, h5, h6 {
clear:both;
line-height:100%;
font-family:Helvetica,Geneva,Arial,sans-serif;
font-weight:normal;
}
h1 {font-size:28px;color:#333;}
h2 {font-size:14px;color:#333;font-weight:400;}
h3 {font-size:12px;}
h4 {font-size:13px;}
h5, h6 {
font-size:10px;
}
p,h3 {
padding-left:2px;
}
input,
select,
textarea {
margin:0px;
border:1px solid #C6C6C6;
padding-left:5px;
color:#434343;
font-size:12px;
}
input,
select {
height:16px;
line-height:16px;
}
.left,
.alignleft {
float:left;
}
.right,
.alignleft {
float:right;
}
.center,
.aligncenter {
text-align:center;
}
.clear {
clear:both;
}
.clearboth {
clear:both;
display:block;
width:100%;
height:0px;
line-height:0px;
}
.clearfix:after {
content:".";
clear:both;
display:block;
height:0;
visibility:hidden;
}
.none {
display:none;
}
.hidden {
text-indent:-9999em;
overflow: hidden;
}
.last {
clear:right;
margin-right:0;
}
.bottom {
margin-bottom:0px;
}
.red {
color:#f20000;
}
.green {
color:#73C252;
}
.border {
border:1px solid #DFDDDD;
}


/* =Text elements
-------------------------------------------------------------- */
p {
margin:0;
}
ol ol {
list-style:upper-alpha;
}
ol ol ol {
list-style:lower-roman;
}
dl {
margin:0 0 15px 0;
}
dt {
/*font-weight:700;*/
}
dd {
margin-bottom:10px;
}
pre {
margin:5px 18px;
background:#f7f7f7;
border-left:2px #ccc solid;
padding:5px 10px;
color: #333;
line-height:18px;
}
abbr {
border-bottom:1px dotted #666;
cursor:help;
}
mark {
background-color:#ff9;
color:#111;
}
sup,
sub {
height:0;
line-height:1;
vertical-align:baseline;
position:relative;
}
sup {
bottom:1ex;
}
sub {
top:.5ex;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea {
font-family:Arial, "Arial Unicode MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Verdana, sans-serif;
}


/* =Structure
-------------------------------------------------------------- */
body {
color:#222;
}

/*-----------------------------------以上为样式复位 --------------------------*/

.registered_top{ height:101px;}
.w999{ width:999px; margin:0 auto;}
.w1001{ width:1001px; margin:0 auto; position:relative;}

.registered_top .left{ float:left;}
.registered_top .right{ float:right; width:186px;}
.registered_top .right ul li{ float:right; width:62px; float:left; padding-top:11px;}
.registered_top .right ul li a{ color:#fff; padding-left:10px;}
.login_menu{ height:64px; border-bottom:1px solid #bcbcbc; background:#fff;}
.login_logo{ float:left; padding-right:20px;}
.login_main{ background:url(../../images/login/login_main_bg.jpg) 0 0 repeat-x; height:522px;}
.login_main_2{ background: url(../images/login_bg.png)  50% 0 repeat-x;
 height:626px; border-top:2px solid #F00;}
.login_main_img{z-index: 2;top:109px;left:65px;	position: absolute;}
.login_menu_l{ float:left; padding-top:24px;}
.login_menu_l li{ float:left; padding:0 10px;}
.login_menu_l_2{ float:left; padding-top:24px;}
.login_menu_l_2 li{ float:left; padding:6px 10px 0 10px;}
.login_menu_r{ float: right; width:172px; height:26px; background:url(../../images/login/login_search.jpg) 0 0 no-repeat; margin-top:20px;}
.login_menu_r2{ float: right; width:172px; height:26px; background:url(../../images/login/login_search2.jpg) 0 0 no-repeat; margin-top:20px;}
.login_menu_r2 input{ width:137px; height:24px; padding:1px; float:left; line-height:24px; border:none; background:none; text-indent:0.5em;}
.login_menu_r a{ width:33px; height:26px; float:left; display:block;}

.login_main_bt_1{
	z-index: 2;
	position: absolute;
	top: 249px;
	right: 142px;
}
.login_main_bt_2{	z-index: 2;	position: absolute;	top: 260px;	right: 24px;}
.login_main_input_1{	z-index: 2;	position: absolute;	top: 122px;	right: 25px;	width: 255px;	height: 35px;}
.login_main_input_1 input{width: 255px;	height: 35px; line-height:35px; border:none;}
.login_main_input_2{
	z-index: 2;
	position: absolute;
	top: 199px;
	right: 25px;
	width: 255px;
	height: 35px;
}
.login_main_input_2 input{width: 255px;	height: 35px; line-height:35px; border:none;}




	.login_main_login{width:301px; position: absolute; top:30px; right:25px; height:314px;
		overflow:hidden; background:url(../images/login_right_bg.png) 0 0 no-repeat;
		}/* 修改过*/
		
		

.login_main_login_title{ width:266px; height:28px; border-bottom:1px solid red; margin:0 auto; padding-top:15px;}	
	
.login_main_text{width:266px;height:14px; margin:0 auto; padding:14px 0 10px 0;}
.login_main_input{width:266px;margin:0 auto;}	
.login_main_input input{ width:262px; height:38px; line-height:38px; border:1px solid #e4e4e4; background:none;}/* 修改过*/
.login_main_bt{ color:#666; width:268px;margin:0 auto;  padding:14px 0 10px 0; text-align: left; overflow:hidden;}/* 修改过*/
.login_main_bt a{ line-height:41px; float:left;}/* 修改过*/
.login_bt_a{ float:right; width:120px; text-align:left;}/* 修改过*/
.login_bt_a a{ clear:both; line-height:20px;}
.login_main_login_title{}
.foot{ width:999px; margin:0 auto; clear:both;}
.foot ul{ width:370px; margin:0 auto;}
.foot ul li{ float:left;}
.foot ul li a{ padding:0 5px;}
.foot p{ clear: both; width:100%; text-align:center; color:#686868; line-height:22px;}


.index_top{ background:url(../../images/enterprise/top_bg.jpg) 50% 50% #0d6eae repeat-y; overflow:hidden;color:#fff;}
.index_top_l{ float:left;}
.index_top_r{ float: right; }
.index_top_r a{color:#fff; padding:0 5px;}

.index_menu_m{ background:url(../../images/enterprise/menu_bg.jpg) 0 0 repeat-x; height:109px; width:100%;}
.w1003{ width:1003px; margin:0 auto;}
.index_logo{ float:left; padding-top:30px;}
.index_menu{ float:right; width:620px;}
.index_menu ul{ padding-top:45px;}
.index_menu ul li{ float: right; padding:0 15px;}
.index_menu ul li a{ font-size:14px; font-weight:bold; }
.index_menu2{ float:right; width:440px;}
.index_menu2 ul{ padding-top:10px;}
.index_menu2 ul li{ float: left;color:#a4a4a4; }
.index_menu2 ul li a{padding:0 5px; clear:both; color:#a4a4a4;}
.index_menu2 ul li a:hover{color:#0d6dad;}

.index_banner{}
.index_banner img{ width:1000px;}

.index_main{ background: url(../../images/enterprise/main_bg.jpg) 0 0 repeat-x #FFF; overflow:hidden;}
.index_announcement{ background:url(../../images/enterprise/announcement_icon.jpg) 37px 17px no-repeat; hanging-punctuation:20px; padding-top:17px; text-indent:6em;}
.index_announcement b{ color:#ac0101;}
.index_announcement a{ color:#ac0101; padding-right:22px;}
.index_announcement a:hover{ color:#f00;}

.index_main_l{ float:left; width:723px; height:283px;}
.app_menu{clear:both;padding:8px 0 0 83px; width:568px; margin:0 auto;}
.app_menu ul{}
.app_menu ul li{ float:left; width:87px; height:88px; background:url(../../images/enterprise/index_main_left_li_bg_2.jpg) 0 0 no-repeat; margin:0 3px; display:inline;}
.app_menu ul li:hover{  background:url(../../images/enterprise/index_main_left_li_bg.jpg) 0 0 no-repeat;}
.app_menu_state{ background:url(../../images/enterprise/index_main_left_li_bg.jpg) 0 0 no-repeat!important;}
.app{ padding:22px 0 0 53px; }
.app ul{ clear:both;}
.app ul li{ float:left; width:60px; height:71px; text-align:center; padding:0 4px; background:none;}
.app_text{width:60px; text-align:center;}

.app_2{ clear:both;padding:5px 0 0 83px; }
.app_2 ul{}
.app_2 ul li{ float:left; width:115px; height:34px; text-align:center; padding:0 5px; background:none;}
.app_2 ul li a{ line-height:22px; float:left;}
.app_text_2{ line-height:22px;float:left; padding-left:5px;}
/*------------------------------------左边---------------------------------------------------------------------*/
.index_main_r{ width:203px; height:246px; float:right; border:1px solid #c2c2c2; margin:22px 65px 0 0; display:inline; position:relative;}

.index_info{ width:100%; height:65px; border-bottom:1px solid #c2c2c2;}
.index_info .image{ float: left; padding:10px 0 0 15px;}
.index_info .text{ float: left; padding:10px 0 0 15px;}
.index_info .text P{ color:#669bcc;}
.index_main_r ul{ padding:5px 0 0 0; }
.index_main_r ul li{ padding:5px 0 0 21px;  }
.index_main_r ul li a{color:#063f74;color:#063f74;line-height:12px; padding-left:15px;}


/*注册*/
.registered{ width:1000px; height:494px; margin:0 auto; background:url(../images/registered_bg.png) 0 0 no-repeat; margin-top:30px;}
.registered_left{ float:left; width:571px;}
.registered_left ul{ width:480px; padding-top:64px; clear:both;}
.registered_left ul li{ float:left; width:240px; text-align:right; line-height:28px; padding:5px 0; font-size:14px; color:#808080;}
.registered_left ul li input{width:240px;line-height:28px; height:28px; float:left; border:1px solid #dbdbdb;}
.registered_left ul li select{ width:76px; height:24px; border:1px solid #abadb3; float:left;}
.registered_right{ float:right;}
.registered_bt{ padding:15px 0 0 200px;}
.registered_right{ padding:110px 162px 0 0; width:140px; text-align:center;}
.registered_right p{ color:#695310; font-size:14px; font-weight:bold; clear: both; line-height:36px;}
.registered_right a{clear: both;}